body{
    background-image: url("https://wallpapers.com/images/high/black-gothic-floral-fondos-de-pantalla-dtgf3ifixdiyimce.webp");
    background-size: 100%;
}

#main-continer{
    text-align: center;
    margin:6% auto auto auto;
    width: 40%;
    height: 100px;
    padding: 10px;
     
}

label{
    font-size: 30px;
    font-size: xx-large;
    color: #008533;
}

input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#timer{
    font-size: 80px;
    font-weight: bolder;
    color: red;
}

.btn{
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    cursor: pointer;
}

#set{
    background-color: rgb(194, 211, 3);
    color: white;
}

#start{
  background-color: green;
  color: white;
}

#pause{
    background-color: blue;
    color: white;   
}

#reset{
    background-color: red;
    color: white;
}